/***************************************** start charge **********************************************/
.charge{
    margin: 120px 0;
}
.charge h1{
    color: var(--second-color);
    font-family: sans-serif;
}
/***************************************** end charge **********************************************/