/***************************************** start policy **********************************************/
.policy{
    margin: 120px 0;
}
.policy h1{
    color: var(--second-color);
    font-family: sans-serif;
}
/***************************************** end policy **********************************************/