/***************************************** start usage **********************************************/
.usage{
    margin: 120px 0;
}
.usage h1{
    color: var(--second-color);
    font-family: sans-serif;
}
/***************************************** end usage **********************************************/