/***************************************** start about **********************************************/
.about{
    margin: 120px 0;
}
.about h1{
    color: var(--second-color);
    font-family: sans-serif;
}
/***************************************** end about **********************************************/